<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TitlePresonalEntities" connectionString="metadata=res://*/TitlePersonal.csdl|res://*/TitlePersonal.ssdl|res://*/TitlePersonal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=TitlePresonal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WpfAppLaba1.Properties.Settings.TitlePresonalConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TitlePresonal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>